<div class="card_right-column layers">
  <div id="mapSelectContainer" class="tilemaps_selector">
    <select name="mapsData" id="mapsDataSel"></select>
    <button id="addMapBtn" title="Add tilemap">+</button>
    <button id="removeMapBtn" title="Remove tilemap">-</button>
    <button id="duplicateMapBtn" title="Duplicate tilemap">📑</button>
    <a class="button" href="#popup1">🎚️</a>
    <div id="popup1" class="overlay">
      <div class="popup">
        <h4>TileMap settings</h4>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <span class="flex">Width: </span><input id="canvasWidthInp" value="1" type="number" min="1">
          <span class="flex">Height: </span><input id="canvasHeightInp" value="1" type="number" min="1">
          <br/><br/>
          <span class="flex">Grid tile size: </span><input type="number" id="gridCropSize" name="crop" placeholder="32" min="1" max="128">
          <span class="flex">Grid color: </span><input type="color" value="#ff0000" id="gridColorSel">
          <span class="flex">Show grid above: </span> <input type="checkbox" id="showGrid">
          <br/><br/>
          <div class="tileset_opt_field">
            <button id="renameMapBtn" title="Rename map">Rename</button>
            <button id="clearCanvasBtn" title="Clear map">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <label class="sticky add_layer">
    <label id="activeLayerLabel" class="menu">
      Editing Layer
    </label>
    <button id="addLayerBtn" title="Add layer">+</button>
  </label>
  <div class="layers" id="layers"></div>
</div>
