<div class="card_left_column">
  <details class="details_container sticky_left" id="tilesetDataDetails" open="true">
    <summary>
      <span id="mapSelectContainer">
        | <select name="tileSetSelectData" id="tilesetDataSel" class="limited_select"></select>
        <button id="replaceTilesetBtn" title="replace tileset">r</button>
        <input id="tilesetReplaceInput" type="file" style="display: none" />
        <button id="addTilesetBtn" title="add tileset">+</button>
        <input id="tilesetReadInput" type="file" style="display: none" />
        <button id="removeTilesetBtn" title="remove">-</button>
      </span>
    </summary>
    <div>
      <div class="tileset_opt_field">
        <span>Tile size:</span>
        <input type="number" id="cropSize" name="crop" placeholder="32" min="1" max="128">
      </div>
      <div class="tileset_opt_field">
        <span>Tileset loader:</span>
        <select name="tileSetLoaders" id="tileSetLoadersSel"></select>
      </div>
      <div class="tileset_info" id="tilesetSrcLabel"></div>
      <div class="tileset_info" id="tilesetHomeLink"></div>
      <div class="tileset_info" id="tilesetDescriptionLabel"></div>
    </div>
  </details>
  <div class="select_container layer sticky_top sticky_left" id="tilesetSelectContainer">
    <span id="setSymbolsVisBtn">👓️</span>
    <select name="tileData" id="tileDataSel">
      <option value="">Symbols</option>
    </select>
    <button id="addTileTagBtn" title="add">+</button>
    <button id="removeTileTagBtn" title="remove">-</button>
  </div>
  <div class="select_container sticky_top2 sticky_settings sticky_left" style="display: none;flex-direction:column;" id="tileFrameSelContainer">
    <div class="item nohover layer tileset_opt_field">
      <div title="Object parameters" class="menu parameters" id="objectParametersEditor">
        ⚙
        <div class="dropdown">
          <div class="item">
            💡 object:
            <button id="renameTileFrameBtn" title="rename object">📝</button>
            <button id="removeTileFrameBtn" title="remove">🗑️</button>
            <button id="addTileFrameBtn" title="add new object">+ new</button>
          </div>
        </div>
      ️</div>
      <select name="tileFrameData" id="tileFrameSel" style="max-width: 150px;"></select>
      frames: <input id="tileFrameCount" value="1" type="number" min="1">
    </div>
    <div class="item nohover layer tileset_opt_field">
      <div title="Animation parameters" class="menu parameters" id="objectParametersEditor">
        ⚙
        <div class="dropdown">
          <div class="item">
            🎞️ animation:
            <button id="renameTileAnimBtn" title="rename animation">📝</button>
            <button id="removeTileAnimBtn" title="remove">🗑️</button>
            <button id="addTileAnimBtn" title="add new animation">+ new</button>
          </div>
        </div>
      ️</div>
      <select name="tileAnimData" id="tileAnimSel" style="max-width: 72px"></select>
      <input id="animStart" value="1" type="number" min="1" title="animation start" class="two-digit-width"> to
      <input id="animEnd" value="1" type="number" min="1" title="animation end" class="two-digit-width">
      <span title="animation speed">⏱</span>
      <input id="animSpeed" value="1" type="number" min="1" title="animation speed" class="two-digit-width">
      <span class="item" title="loop animation">
        <input type="checkbox" id="animLoop" style="display: none" checked>
        <label for="animLoop" class="animLoop">️</label>
      </span>
    </div>
  </div>
  <div class="tileset-container">
    <div class="tileset-container-selection"></div>
    <canvas id="tilesetCanvas"></canvas>
  </div>
</div>
